main {
  background-color: #f0f0f0;
}

.main-visual {
  background-image: url(../images/tokyo_cafe.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 77vh;
  position: relative;
}

.main-visual h1 {
  position: absolute;
  top: 46%;
  left: 46%;
}

.content-wappar {
  margin-top: 30px;
}

.contents {
  margin-right: 15%;
  margin-left: 15%;
}

.contents h3 {
  text-align: center;
  border: 2px solid #222;
  border-radius: 50px;
}

.content {
  clear: both;
}

.content-box {
  float: left;
  border: 1px solid #dee7ec;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.content-box:hover {
  opacity: 0.3;
}

.content-box a {
  display: block;
  height: 200px;
  text-align: center;
}

.content-box p {
  text-align: center;
  margin: auto;
}

.content-box a h4 {
  display: inline-block;
  color: black;
}
