main {
  background-color: #f0f0f0;
}

.main-visual {
  background-image: url(../images/tokyo_cafe.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 77vh;
  position: relative;
}

.main-theme h1 {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: cornsilk solid 5px;
  color: cornsilk;
  margin: 0;
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  padding: 20px;
}

.content-wappar {
  margin-top: 30px;
}

.contents {
  margin-right: 15%;
  margin-left: 15%;
}

.contents h3 {
  text-align: center;
  border: 2px solid #222;
  border-radius: 50px;
}

.content {
  clear: both;
}

.content-box {
  float: left;
  border: 1px solid #dee7ec;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.content-box:hover {
  opacity: 0.3;
}

.content-box a {
  display: block;
  height: 200px;
  text-align: center;
}

.content-box p {
  text-align: center;
  margin: auto;
}

.content-box a h4 {
  display: inline-block;
  color: black;
}

@media screen and (max-width: 480px) {
  .content-box {
    float: none;
    margin: 38px auto;
  }
}
